        <!-- Header -->
        <section>
            <header class="container-fluid mb-1 pt-8">
                
                
                <div class="row bg-secondary py-2 mx-auto align-items-center rounded-3 mb-1 border border-white">
                    
                    <div class="d-flex justify-content-start px-3 py-2">
                        <div class="card row-cols-1 border-0 p-2">
                            <h6 class="card-subtitle text-muted text-start text-lightgreen">Portfolio</h6>
                            <h5 class="card-title col-sm-12 text-center bg-secondary text-white border border-light rounded text-shadow-light">Sebastián Sala</h5>
                        </div>
                    </div>
                    
                    <!-- <div class="col-5">                        
                            <img class="img-thumbnail bg-dark text-secondary"  id="Logo" src="#" alt="GreenPixel">
                        </a>
                    </div>
  
                    <div class="col-5">
                        <ul class="nav justify-content-between">
                            <li class="nav-item"><a href="#" class="nav-link border rounded-circle">T</a></li>
                            <li class="nav-item"><a href="#" class="nav-link border rounded-circle">F</a></li>
                            <li class="nav-item"><a href="#" class="nav-link border rounded-circle">L</a></li>
                        </ul>
                    </div> -->
  
                    <!-- Log in -->
                    <!-- <form class="col-2 d-flex justify-content-end word-wrap">
                        <button class="btn btn-outline-primary" type="submit">Log In!</button>
                    </form> -->
                    <!-- /Log in -->
  
                </div>
  
                
                <!-- Navbar -->                
                <nav class="mx-3 mt-1 row navbar fixed-top navbar-expand-md bg-dark navbar-dark rounded-0 rounded-pill border border-white border-2 py-3" id="theNavbar" (click)="toggleMenu()">
                    <!-- <div class="container-fluid text-center justify-content-center" (click)="toggleMenu()"> -->
                    <div class="container-fluid text-center justify-content-center">
  
  
                        <!-- Toggler -->
                        <!-- <span (click)="toggleMenu()" id="menu-toggler" class="navbar-toggler d-xsm-flex flex-column align-items-center border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation"> -->
                        <span id="menu-toggler" class="navbar-toggler d-xsm-flex flex-column align-items-center border-0" type="button" data-bs-toggle="collaps" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span>MENÚ</span>
                            <span class="navbar-toggler-icon"></span>
                        </span>
                        <!-- /Toggler -->
  
                        
                        
                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse mt-1 text-center justify-content-center align-item-center" id="collapsibleNavbar" (mouseleave)="toggleMenu()">
                            <!-- <p class="navbar-text d-block d-md-none">menú</p> -->
                            
                            <div class="d-flex">
                                <div class="d-flex flex-column text-center justify-content-center align-item-center">
                                    <hr class="w-50">
                                </div>
                            </div>
                            <ul class="navbar-nav col-12 justify-content-between align-items-center text-shadow-light">
                                <li class="nav-item d-flex justify-content-center flex-column"><a href="#aboutMe" class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Conoceme!</a></li>
                                <li class="nav-item d-flex justify-content-center flex-column"><a href="#experience" class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Trabajos</a></li>
                                <li class="nav-item flex-column"><a href="#projects" class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Proyectos</a></li>
                                <li class="nav-item flex-column"><a href="#skills" class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Habilidades</a></li>
                                <li class="nav-item d-flex justify-content-center flex-column"><a href="#contactMe" class="shdow rounded-pill border border-primary nav-link text-primary text-bg-info">Contactame</a></li>
                            </ul>
                        </div>
                        <!-- /Navbar links -->
  
  
                    </div>
                </nav>
                <!-- /Navbar -->
  
                
            </header>            
        </section>
        <!-- /Header -->