<section>
    <!-- <header class="container-fluid mb-1 pt-8"> -->
    <header class="row mb-1 pt-3 mx-auto">


        <!-- Redes -->
        <div class="row bg-dark py-1 d-flex justify-content-between align-items-center mx-auto rounded-3 mb-1 border border-white px-1">

            <div class="col-3 col-md-4 text-start px-0">
                <a target="_blanc" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                    <img class="img-fluid rounded shadow bg-dark" id="argProgLogo" src="./assets/img/argprog-logo-scaled.png" alt="logo argentina programa">
                </a>
            </div>

            <div class="col-6 col-md-4 px-0">
                <ul class="nav d-flex justify-content-around flex-nowrap gap-2 gap-md-4 mx-1 shadow border border-secondary rounded-5">
                    <li class="nav-item shadow" [ngClass]="{'border-start border-end': hover[1], '': !hover[1]}"><a target="_blank" href="https://www.linkedin.com/in/sebastian-sala-perfil" class="shadow nav-link d-flex align-items-center borde border-info p-0"><i id="icon1" (mouseenter)="isHovering(1);" (mouseleave)="isHovering(1);" [ngClass]="{'fa-flip border-start border-end hoverflow-hidden': hover[1], '': !hover[1]}" class="fab fab-hover fa-linkedin fa-2x"></i></a></li>
                    <li class="nav-item shadow" [ngClass]="{'border-start border-end rounded-circle': hover[2], '': !hover[2]}"><a target="_blank" href="https://github.com/SebastianSala" class="shadow nav-link d-flex align-items-center borde border-info rounded-circle p-0"><i id="icon2" (mouseenter)="isHovering(2);" (mouseleave)="isHovering(2);" [ngClass]="{'fa-flip border-start border-end rounded-circle': hover[2], '': !hover[2]}" class="fab fab-hover fa-github fa-2x"></i></a></li>
                    <li class="nav-item shadow" [ngClass]="{'border-start border-end': hover[3], '': !hover[3]}"><a target="_blank" href="https://www.instagram.com/sebastiansala.ig/" class="shadow nav-link d-flex align-items-center borde border-info p-0"><i id="icon3" (mouseenter)="isHovering(3);" (mouseleave)="isHovering(3);" [ngClass]="{'fa-flip border-start border-end': hover[3], '': !hover[3]}" class="fab fab-hover fa-instagram fa-2x"></i></a></li>
                </ul>
            </div>

            <!-- Log in -->
            <div class="col-3 col-md-4 text-end px-0 shadow">
                <a routerLink="/login" class="shadow btn btn-outline-primary py-1 py-md-2 px-2 px-md-3 word-wrap">Log In!</a>
                <!-- <form class="col-2 d-flex justify-content-end word-wrap">
                    <button class="btn btn-outline-primary" type="submit">Log In!</button>
                </form> -->
            </div>
            <!-- /Log in -->

        </div>
        <!-- Redes -->
        
        <div class="row bg-secondary py-0 mx-auto align-items-center rounded-3 mb-1 border border-white">


            <div class="d-flex justify-content-start px-3 py-2">
                <div class="card row-cols-1 border-0 p-2 bg-secondary">
                    <h6 class="card-subtitle text-muted text-start text-lightgreen">Portfolio</h6>
                    <h5
                        class="card-title col-sm-12 text-center bg-secondary text-white border border-light rounded text-shadow-light">
                        Sebastián Sala</h5>
                </div>
            </div>
            

        </div>


        <!-- Navbar -->
        <!-- <app-navbar></app-navbar> -->
        <!-- /Navbar -->


    </header>
</section>