<article id="skill">
    <div class="row mx-auto pt-8 shadow border-light">


        <!-- Admin Add/Edit/Delete -->
        <div class="row mx-auto px-0 bg-dark border border-light my-1 rounded-3" *ngIf="this.isLogged">
            <div class="col-12 text-end">

                <!-- Add -->
                <button type="button" class="btn btn-outline-info my-2" data-bs-toggle="modal"
                    data-bs-target="#modalAddSkill">
                    <i class="fa-solid fa-plus fa-2x p-1 d-flex align-items-center">
                        <span class="fs-5 ps-2">Agregar habilidad</span>
                    </i>
                </button>

                <app-modal-add-skill></app-modal-add-skill>
                <!-- /Add -->

            </div>
        </div>
        <!-- /Admin Add/Edit/Delete -->


        <div class="card mx-auto bg-secondary text-white border-lightp-2 px-4 shadow border-light">
            <hr>

            <div class="row align-item-center shadow">

                <div class="col-md-6 shadow">
                    <div class="mb-5">
                        <h3 class="text-shadow-title shadow py-2">Hard Skills</h3>
                        <hr>
                    </div>

                    <!-- Hard skills -->

                    <div class="mb-5 shadow" *ngFor="let skill of allSkills, let i = index, let even = even">
                        <div *ngIf="skill.getIsTechnical">


                            <!-- Admin Add/Edit/Delete -->
                            <div class="row mx-auto px-0 bg-dark border border-danger my-1" *ngIf="this.isLogged">
                                <div class="col-12 text-end text-primary">

                                    <!-- Edit -->
                                    <button type="button" class="btn btn-outline-dark text-light" data-bs-toggle="modal"
                                        data-bs-target="#modalEditSkill" (click)="sendSkill(skill)">
                                        <i class="fas fa-pen-to-square fa-2x p-1"></i>
                                    </button>
                                    <!-- /Edit -->

                                    <!-- Delete -->
                                    <button type="button" class="btn btn-outline-dark text-danger"
                                        data-bs-toggle="modal" data-bs-target="#modalDeleteSkill"
                                        (click)="sendSkill(skill)">
                                        <i class="fas fa-trash fa-2x p-1"></i>
                                    </button>
                                    <!-- /Delete -->

                                </div>
                            </div>

                            <app-modal-edit-skill [skillToEdit]="skillToSend"></app-modal-edit-skill>
                            <app-modal-delete-skill [skillToDelete]="skillToSend"></app-modal-delete-skill>
                            <!-- /Admin Add/Edit/Delete -->


                            <div class="d-flex justify-content-between shadow">
                                <h6 class="font-width-bold shadow fw-bold text-shadow-simple">{{skill.getName}}</h6>
                            </div>

                            <div class="progress shadow border border-primary">
                                <div class="progress-bar bg-primary fw-bold text-shadow-simple text-info shadow"
                                    role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                    [ngClass]="{'bg-dark': !even, '': even}" [style.width]="skill.getLevel + '%'">
                                    <!-- [style.width.%]="skill.getLevel"> -->
                                    <!-- [ngStyle]="{'width': skill.getLevel + '%'}"> -->
                                    {{skill.getLevel}}%
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- /Hard skills-->

                </div>



                <div class="col-md-6 text-end pb-5 ps-6 shadow">

                    <div class="mb-7 mb-sm-6 shadow py-3 py-sm-2">
                        <h3 class="text-shadow-title">Soft Skills</h3>
                        <hr>
                    </div>

                    <!-- SoftSkills-->

                    <div *ngFor="let skill of allSkills, let i = index, let even = even">
                        <div *ngIf="!skill.getIsTechnical">


                            <!-- Admin Add/Edit/Delete -->
                            <div class="row mx-auto px-0 bg-dark border border-danger my-1" *ngIf="this.isLogged">
                                <div class="col-12 text-end text-primary">

                                    <!-- Edit -->
                                    <button type="button" class="btn btn-outline-dark text-light" data-bs-toggle="modal"
                                        data-bs-target="#modalEditSkill" (click)="sendSkill(skill)">
                                        <i class="fas fa-pen-to-square fa-2x p-1"></i>
                                    </button>
                                    <!-- /Edit -->

                                    <!-- Delete -->
                                    <button type="button" class="btn btn-outline-dark text-danger"
                                        data-bs-toggle="modal" data-bs-target="#modalDeleteSkill"
                                        (click)="sendSkill(skill)">
                                        <i class="fas fa-trash fa-2x p-1"></i>
                                    </button>
                                    <!-- /Delete -->

                                </div>
                            </div>

                            <app-modal-edit-skill [skillToEdit]="skillToSend"></app-modal-edit-skill>
                            <app-modal-delete-skill [skillToDelete]="skillToSend"></app-modal-delete-skill>
                            <!-- /Admin Add/Edit/Delete -->


                            <div class="btn-group dropend mt-3 mb-5 shadow">
                                <button type="button" class="btn text-white shadow fw-bold text-shadow-simple"
                                    [ngClass]="{'btn-secondary': even, 'btn-light': !even}">
                                    <span class="">{{skill.getName}}</span>
                                </button>
                            </div>

                            <br><br><br>

                        </div>
                    </div>

                    <!-- /SoftSkills-->

                </div>

            </div>

        </div>

    </div>
</article>