// #theNavbar {
//     //height: 75px;
//     //width: 100%;
// }

#theNavbar:hover{
    border-color: lightgreen !important;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2) !important;
}

.card-text:hover{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2) !important;
}