<div class="modal fade" id="modalEditProject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-secondary">


      <div class="modal-header bg-dark py-2 py-md-1">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Editar Projecto
        </h1>
        <button type="button" class="btn-close" id="modalEditProjectClose" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>


      <div class="modal-body bg-secondary rounded-3">


        <div>
          <form [formGroup]="formGroup" (ngSubmit)="validateForm($event)">
            <div class="form-group">


              <div class="mb-3">
                <label for="newProjectName" class="form-label">
                  Nombre del Projecto
                </label>
                <input type="text" class="form-control" id="newProjectName" formControlName="name"
                  [ngClass]="{'is-invalid': formControl['name'].errors && formGroup.controls['name'].touched, 'is-valid': formControl['name'].touched && !formControl['name'].errors}">

                <div class="invalid-feedback">
                  <div *ngIf="formControl['name'].hasError('required')">
                    El nombre no puede faltar
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <label for="newProjectDate" class="form-label">
                  Fecha del Projecto
                </label>
                <input type="date" class="form-control" id="newProjectDate" formControlName="date"
                  [ngClass]="{'is-invalid': formControl['date'].errors && formGroup.controls['date'].touched, 'is-valid': formControl['date'].touched && !formControl['date'].errors}">

                <div class="invalid-feedback">
                  <div *ngIf="formControl['date'].hasError('required')">
                    La fecha no puede faltar
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <label for="newProjectShortDescription" class="form-label">
                  Descripción corta del Projecto
                </label>
                <input type="text" class="form-control" id="newProjectShortDescription"
                  formControlName="shortDescription"
                  [ngClass]="{'is-invalid': formControl['shortDescription'].errors && formGroup.controls['shortDescription'].touched, 'is-valid': formControl['shortDescription'].touched && !formControl['shortDescription'].errors}">

                <div class="invalid-feedback">
                  <div *ngIf="formControl['shortDescription'].hasError('required')">
                    La descripción corta no puede faltar
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <label for="newProjectLongDescription" class="form-label">
                  Descripción detallada del Projecto
                </label>
                <textarea class="form-control" id="newProjectLongDescription" rows="3" formControlName="longDescription"
                  [ngClass]="{'is-invalid': formControl['longDescription'].errors && formGroup.controls['longDescription'].touched, 'is-valid': formControl['longDescription'].touched && !formControl['longDescription'].errors}">
                  </textarea>

                <div class="invalid-feedback">
                  <div *ngIf="formControl['longDescription'].hasError('required')">
                    La descripción detallada no puede faltar
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <label for="newProjectImgUrl" class="form-label">
                  Imagen del Projecto
                </label>
                <input type="text" class="form-control" id="newProjectImgUrl" formControlName="imgUrl"
                  [ngClass]="{'is-invalid': formControl['imgUrl'].errors && formGroup.controls['imgUrl'].touched, 'is-valid': formControl['imgUrl'].touched && !formControl['imgUrl'].errors}">

                <div class="invalid-feedback">
                  <div *ngIf="formControl['imgUrl'].hasError('required')">
                    La imagen no puede faltar
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <label for="newProjectWebUrl" class="form-label">
                  Web del Projecto
                </label>
                <input type="text" class="form-control" id="newProjectWebUrl" formControlName="webUrl"
                  [ngClass]="{'is-invalid': formControl['webUrl'].errors && formGroup.controls['webUrl'].touched, 'is-valid': formControl['webUrl'].touched && !formControl['webUrl'].errors}">

                <div class="invalid-feedback">
                  <div *ngIf="formControl['webUrl'].hasError('required')">
                    La web no puede faltar
                  </div>
                </div>
              </div>


              <div class="border-0 border-top border-white bg-secondary pt-4">

                <div class="mx-auto w-100 d-flex justify-content-between">
                  <button type="button" class="btn btn-outline-danger mx-1 me-auto" data-bs-dismiss="modal">
                    Cancelar!
                  </button>

                  <button type="submit" class="btn btn-outline-info mx-1">
                    Actualizar Proyecto!
                  </button>
                </div>

              </div>


            </div>
          </form>
        </div>


      </div>


    </div>
  </div>
</div>