.text-shadow-dark{
    //font-size:80px;
    //font-weight:bold;
    color: transparent;
    //letter-spacing: .10em;
    // text-shadow: -9px -8px 2px rgba(193, 94, 221, 0.43),1px -1px 0 #fe6161, 2px 1px 3px #737272,3px 3px 1px #37408C;
    //text-shadow: 1px -1px 0 #fe6161, 2px 1px 3px #737272,3px 3px 1px #37408C;
    text-shadow: 1px -1px 0 #FF7741, 2px 1px 3px #fff,3px 3px 1px #1B7AB3;
}
.text-shadow-light{
    //font-size:80px;
    //font-weight:bold;
    color: transparent;
    //letter-spacing: .10em;
    // text-shadow: -9px -8px 2px rgba(193, 94, 221, 0.43),1px -1px 0 #fe6161, 2px 1px 3px #737272,3px 3px 1px #37408C;
    //text-shadow: 1px -1px 0 #fe6161, 2px 1px 3px #737272,3px 3px 1px #37408C;
    // text-shadow: 1px -1px 0 #fe6161, 2px 1px 3px #1B7AB3,3px 3px 1px #fff;
    text-shadow: 1px -1px 0 #FF7741, 2px -2px 1px #fff;
}

.text-shadow-title{
    display: block;
    text-align: center;
    //font-size:70px;
    //font-family: verdana;
    //letter-spacing: .13em;
    color:#fff;
    text-shadow:  0.45rem -0.45rem #B41039, -0.45rem -0.45rem #F3819D, 0 0.5rem rgba(255, 88, 9, 0.75);
}

#mail-badge{
    // font-size: large;
}