<!-- <div class="row px-0 mx-auto"> -->


<!-- Navbar -->
<!-- <app-navbar></app-navbar> -->
<!-- /Navbar -->

<!-- <div class="d-grid mt-4">
        <button routerLink="/" class="btn btn-dark">Volver</button>
    </div> -->

<!-- <app-imagen></app-imagen> -->
<!-- Header -->
<!-- <app-header></app-header> -->
<!-- /Header -->





<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button> -->

<div class="d-flex align-items-center">
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalLogIn" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content modal-fullscreen-md-down bg-primary">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Log in</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">


                    <div class="container px-4 bg-primary shadow rounded-5 my-2 mb-md-3 mb-lg-6">
                        <div class="row align-items-stretch border rounded-5 overflow-hidden">


                            <div class="col bg d-none d-md-block col-md-5 col-lg-5 col-xl-6 rounded-start-5">

                            </div>

                            <div class="col bg-secondary px-3 rounded-end-5">
                                <div class="text-end">
                                    <img src="./../../../assets/img/favicon.png" width="48" alt="logo">
                                </div>

                                <h2 class="fw-bold text-center pb-4">Bienvenido</h2>

                                <!-- LOGIN -->

                                <form [formGroup]="form" (ngSubmit)="onSend($event)">

                                    <div class="mb-4">
                                        <label for="email" class="form-label">Correo electrónico</label>
                                        <!-- <input type="email" class="form-control" name="email"
                                            placeholder="ej: usuario@mail.com" formControlName="email"
                                            [class.border-danger]="EmailInvalid"> -->
                                        <input type="email" class="form-control" name="email"
                                            placeholder="ej: usuario@mail.com" formControlName="email"
                                            [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}">
                                    </div>
                                    <div *ngIf="EmailInvalid">
                                        <!-- <p *ngIf="Email?.hasError('required')" class="border border-warning"> -->
                                        <p *ngIf="Email?.hasError('required')" class="border border-warning">
                                            Email es requerido
                                        </p>
                                        <p *ngIf="Email?.hasError('email')" class="border border-warning">
                                            Email válido requerido
                                        </p>
                                    </div>

                                    <div class="mb-4">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" name="password" placeholder=""
                                            formControlName="password"
                                            [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}">
                                    </div>
                                    <div *ngIf="Password?.errors && Password?.touched">
                                        <!-- <p *ngIf="( Password?.hasError('required') || Password?.hasError('minlength') )" -->
                                        <p *ngIf="( Password?.hasError('required') )" class="border border-warning">
                                            <!-- <p *ngIf="( PasswordInvalid )" class="border border-warning"> -->
                                            El password es requerido
                                        </p>
                                        <p *ngIf="Password?.hasError('minlength')" class="border border-warning">
                                            El password debe tener al menos 8 caracteres
                                        </p>
                                    </div>

                                    <!-- <div class="mb-4 form-check">
                                        <input type="checkbox" name="connected" class="form-check-input">
                                        <label for="connected" class="form-check-label">Mantenerme conectado</label>
                                    </div> -->

                                    <!-- <div class="d-grid"> -->
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary w-100">
                                            Iniciar sesión
                                        </button>
                                    </div>

                                    <!-- <div class="my-3">
                                        <span>No tienes cuenta? <a class="text-dark" href="#">Regístrate</a></span>
                                        <br>
                                        <span><a class="text-dark" href="#">Recuperar password</a></span>
                                    </div> -->

                                </form>

                                <!-- LOGIN CON REDES SOCIALES -->
                                <!-- <div class="container w-100 my-5">
                                    <div class="row text-center">
                                        <div class="col-12">Iniciar sesión</div>
                                    </div>
                                    <div class="row">
                
                                        <div class="col">
                                            <button class="btn btn-outline-dark w-100 my-1">
                                                <div class="row align-items-center">
                                                    <div class="col-2 d-none d-md-block">
                                                        <img src="./../../../assets/img/favicon.png" width="32" alt="Facebook">
                                                    </div>
                                                    <div class="col-12 col-md-10 text-center">
                                                        Facebook
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-outline-danger w-100 my-1">
                                                <div class="row align-items-center">
                                                    <div class="col-2 d-none d-md-block">
                                                        <img src="./../../../assets/img/favicon.png" width="32" alt="Google">
                                                    </div>
                                                    <div class="col-12 col-md-10 text-center">
                                                        Google
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                
                                </div> -->
                                <!-- /LOGIN CON REDES SOCIALES -->

                            </div>


                        </div>


                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>

</div>


<div class="d-flex align-items-center">
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalLogOut" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content modal-fullscreen-md-down bg-primary">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Log out</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">


                    <div class="container px-4 bg-primary shadow rounded-5 my-2 mb-md-3 mb-lg-6">
                        <div class="row align-items-stretch border rounded-5 overflow-hidden">


                            <div class="col bg d-none d-md-block col-md-5 col-lg-5 col-xl-6 rounded-start-5">

                            </div>

                            <div class="col bg-secondary px-3 rounded-end-5">
                                <div class="text-end">
                                    <img src="./../../../assets/img/favicon.png" width="48" alt="logo">
                                </div>

                                <h2 class="fw-bold text-center pb-4">Hasta pronto!</h2>

                                <!-- LOGIN -->

                                <form [formGroup]="form" (ngSubmit)="onSend($event)">


                                    <!-- <div class="d-grid"> -->
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary w-100">
                                            Cerrar sesión!
                                        </button>
                                    </div>

                                    <!-- <div class="my-3">
                                        <span>No tienes cuenta? <a class="text-dark" href="#">Regístrate</a></span>
                                        <br>
                                        <span><a class="text-dark" href="#">Recuperar password</a></span>
                                    </div> -->

                                </form>

                                <!-- LOGIN CON REDES SOCIALES -->
                                <!-- <div class="container w-100 my-5">
                                    <div class="row text-center">
                                        <div class="col-12">Iniciar sesión</div>
                                    </div>
                                    <div class="row">
                
                                        <div class="col">
                                            <button class="btn btn-outline-dark w-100 my-1">
                                                <div class="row align-items-center">
                                                    <div class="col-2 d-none d-md-block">
                                                        <img src="./../../../assets/img/favicon.png" width="32" alt="Facebook">
                                                    </div>
                                                    <div class="col-12 col-md-10 text-center">
                                                        Facebook
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-outline-danger w-100 my-1">
                                                <div class="row align-items-center">
                                                    <div class="col-2 d-none d-md-block">
                                                        <img src="./../../../assets/img/favicon.png" width="32" alt="Google">
                                                    </div>
                                                    <div class="col-12 col-md-10 text-center">
                                                        Google
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                
                                </div> -->
                                <!-- /LOGIN CON REDES SOCIALES -->

                            </div>


                        </div>


                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- <app-footer></app-footer> -->


<!-- </div> -->