<div class="d-flex align-items-center">
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalLogIn" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content modal-fullscreen-md-down bg-primary">


                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Log in</h1>
                    <button type="button" id="modalLoginClose" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>


                <div class="modal-body">


                    <div class="container px-4 bg-primary shadow rounded-5 my-2 mb-md-3 mb-lg-6">
                        <div class="row align-items-stretch border rounded-5 overflow-hidden">


                            <div class="col bg d-none d-md-block col-md-5 col-lg-5 col-xl-6 rounded-start-5">

                            </div>

                            <div class="col bg-secondary px-3 rounded-end-5">
                                <div class="text-end">
                                    <img src="./../../../assets/img/favicon.png" width="48" alt="logo">
                                </div>

                                <h2 class="fw-bold text-center pb-4">Bienvenido</h2>

                                <!-- LOGIN -->

                                <form [formGroup]="formGroup" (ngSubmit)="validateAndSend($event)">

                                    <div class="mb-4">
                                        <label for="email" class="form-label">Correo electrónico</label>
                                        <input type="email" class="form-control" name="email"
                                            placeholder="ej: usuario@mail.com" formControlName="email"
                                            [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}">

                                        <div class="invalid-feedback fw-bold">
                                            <span *ngIf="Email?.hasError('required')" class="">
                                                Email es requerido
                                            </span>
                                            <span *ngIf="Email?.hasError('email')" class="">
                                                Email válido requerido
                                            </span>
                                        </div>

                                    </div>

                                    <div class="mb-4">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" name="password" placeholder=""
                                            formControlName="password"
                                            [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}">

                                        <div class="invalid-feedback fw-bold">
                                            <span *ngIf="( Password?.hasError('required') )">
                                                El password es requerido
                                            </span>
                                            <span *ngIf="Password?.hasError('minlength')">
                                                El password debe tener al menos 8 caracteres
                                            </span>
                                        </div>

                                    </div>

                                    
                                    <div class="mb-3 shadow rounded d-flex">
                                        <button type="button" class="btn btn-outline-danger shadow border-3 fw-bold me-auto" data-bs-dismiss="modal">
                                            Volver
                                        </button>
                                        
                                        <button type="submit" class="btn btn-outline-light shadow border-light border-3 fw-bold ms-auto">
                                            Iniciar sesión
                                        </button>
                                    </div>
                                    

                                </form>

                            </div>

                        </div>

                    </div>


                </div>


                <div class="modal-footer">
                    <span class="text-white">No tenés cuenta?
                        <button type="button" [routerLink]="['/new-user']" data-bs-dismiss="modal" class="btn btn-outline-info shadow">
                            Crear cuenta nueva
                        </button>
                    </span>
                </div>
                

            </div>
        </div>
    </div>

</div>
