<article id="study">
    <div class="row mx-auto my-5 pt-8">


        <!-- Edit -->
        <div class="row mx-auto px-0 bg-secondary border border-danger my-1" *ngIf="this.modoEdit">
            <div class="col-12 text-end text-primary">
                <!-- <p>edit icons</p>                 -->
                <!-- <i class="fa-solid fa-pen-to-square fa-2x px-2"></i> -->
                <!-- <i class="fa-solid fa-trash fa-2x px-2"></i> -->
                <i class="fas fa-pen-to-square fa-2x p-1"></i>
                <i class="fas fa-trash fa-2x p-1"></i>
            </div>
        </div>
        <!-- /Edit -->


        <div class="card border border-light rounded-3 bg-secondary shadow-lg pb-5">
            <div class="card-body shadow-sm">


                <h4 class="card-title text-white text-shadow-title pb-2 pt-1">Estudios</h4>
                <h6 class="card-subtitle mb-2 text-info pb-2">Mis títulos y certificados</h6>

                <div *ngFor="let studie of dStudies, let i = index, let even = even">
                    <div
                        class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg py-4 text-shadow-simple">

                        <div class="card-header shadow">
                            <h4 class="fw-bold py-3 shadow-sm">{{studie.title}}</h4>
                        </div>

                        <div class="card-body p-4 shadow-sm">
                            <div class="navbar-logo d-inline">
                                <img class="img-thumbnail w-25 mb-2 mx-auto shadow-lg mt-5 mb-5" src="{{studie.logo}}"
                                    alt="Web Jésica Confecciones">
                            </div>
                            <h5 class="card-title p-3 d-inline">{{studie.institution}}</h5>
                            <p class="card-text p-3 shadow-sm">
                                {{studie.inicio}} - {{studie.fin}}
                            </p>
                        </div>

                        <div class="card-footer text-muted d-flex flex-column shadow-sm">
                            <!-- <img class="img-thumbnail w-25 mb-2 mx-auto shadow-lg mt-5 mb-5" src="{{studie.logo}}"
                                alt="Web Jésica Confecciones"> -->

                            <a target="_blank" [href]="studie.url" class="btn btn-primary align-items-end">
                                Web {{studie.institution}}
                            </a>
                        </div>

                    </div>

                    <div class="py-4" *ngIf="i!==((dStudies.length) - 1)">
                        <hr>
                        <hr>
                        <hr>
                    </div>

                </div>


            </div>
        </div>
    </div>
</article>