<!-- Modal -->
<div class="modal fade" id="modalEditNetwork" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-secondary">


      <div class="modal-header bg-dark py-2 py-md-1">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Editar Red
        </h1>
        <button type="button" class="btn-close" id="modalEditNetworkClose" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>


      <div class="modal-body bg-secondary py-4 rounded-3">


        <div>
          <form [formGroup]="formGroup" (ngSubmit)="validateForm($event)">
            <div class="form-group">


              <div class="mb-3">
                <label for="newNetworkName" class="form-label">
                  Nombre de la red social
                </label>
                <input type="text" class="form-control" id="newNetworkName" formControlName="name"
                  [ngClass]="{'is-invalid': formControl['name'].errors && formGroup.controls['name'].touched, 'is-valid': formControl['name'].touched && !formControl['name'].errors}">

                <div class="invalid-feedback">
                  <div *ngIf="formControl['name'].hasError('required')">
                    El nombre no puede faltar
                  </div>
                </div>
              </div>
              

              <div class="mb-3">
                <label for="newNetworkNetUrl" class="form-label">
                  La dirección web de la red social
                </label>
                <input type="text" class="form-control" id="newNetworkNetUrl" formControlName="netUrl"
                  [ngClass]="{'is-invalid': formControl['netUrl'].errors && formGroup.controls['netUrl'].touched, 'is-valid': formControl['netUrl'].touched && !formControl['netUrl'].errors}">

                <div class="invalid-feedback">
                  <div *ngIf="formControl['netUrl'].hasError('required')">
                    La dirección Web no puede faltar
                  </div>
                </div>
              </div>

              <div class="border-0 border-top border-white bg-secondary pt-4">

                <div class="mx-auto w-100 d-flex justify-content-between">
                  <button type="button" class="btn btn-outline-danger mx-1 me-auto" data-bs-dismiss="modal">
                    Cancelar!
                  </button>

                  <button type="button" class="btn btn-outline-light mx-1" (click)="clearForm()">Limpiar</button>
                  <button type="submit" class="btn btn-outline-info mx-1">
                    Actualizar Red!
                  </button>
                </div>

              </div>


            </div>
          </form>
        </div>


      </div>


    </div>
  </div>
</div>