<article id="aboutMe">
    <div class="row mx-auto my-5 pt-8">


        <!-- Edit -->
        <div class="row mx-auto px-0 bg-secondary border border-danger my-1" *ngIf="this.isLogged">
            <div class="col-12 text-end text-primary">
                <i class="fas fa-pen-to-square fa-2x p-1"></i>
                <i class="fas fa-trash fa-2x p-1"></i>
            </div>
        </div>
        <!-- /Edit -->


        <div class="card border border-light rounded-3 bg-secondary shadow-lg p-2" id="card-aboutme">
            <div class="card-body mt-0">
                <h4 class="card-title shadow-sm text-white text-shadow-title mb-3">Conoceme!</h4>
                <h6 class="card-subtitle mb-2 text-info shadow-sm mb-3">resumen</h6>


                <div *ngFor="let part of aboutMeArray, let even = even">

                    <p class="card-text text-end shadow-sm text-white text-shadow-simple p-3"
                        [ngClass]="{'text-start': !even, 'text-end': even}">
                        {{part}}
                    </p>

                    <br><br>

                </div>


            </div>
        </div>


    </div>
</article>