<article id="aboutMe">
    <div class="row mx-auto my-5 pt-8">
        

        <!-- Admin Add/Edit/Delete -->
        <div class="row mx-auto px-0 bg-dark border border-danger rounded-3 my-1" *ngIf="this.isLogged">
            <div class="col-12 text-end text-primary">

                <!-- Edit -->
                <button type="button" class="btn btn-outline-dark text-light" data-bs-toggle="modal"
                    data-bs-target="#modalEditAboutMe">
                    <i class="fas fa-pen-to-square fa-2x p-1"></i>
                </button>

                <app-modal-edit-about-me [personToEdit]="thePerson"
                    (editEvent)="reloadPerson($event)"></app-modal-edit-about-me>
                <!-- /Edit -->                

            </div>
        </div>
        <!-- /Admin Add/Edit/Delete -->


        <div class="card border border-light rounded-3 bg-secondary shadow-lg p-2" id="card-aboutme">
            <div class="card-body mt-0">
                <h3 class="card-title shadow-sm text-white text-shadow-title mb-3 fw-bold">
                    Conoceme!
                </h3>
                <h6 class="card-subtitle mb-2 text-info shadow-sm mb-3">resumen</h6>


                <div *ngFor="let part of aboutMeArray, let even = even">

                    <p class="card-text text-end shadow-sm text-white text-shadow-simple fs-5 p-3"
                        [ngClass]="{'text-start': !even, 'text-end': even}">
                        {{part}}
                    </p>

                    <br><br>

                </div>


            </div>
        </div>


    </div>
</article>