.btn-outline-danger:hover {
    color: #fff;
    border: 1px inset white;
}

.bg {
    --dark-color: #1B7AB3;
    // background-image: url('/assets/img/consoles-box.png');
    // background-image: url('./../../../assets/img/consoles-box.png'), linear-gradient(to right, violet, purple);    
    background-image: url('./../../../assets/img/consoles-box.png'), linear-gradient(to right, var(--dark-color), purple);
    background-position: center center;
    background-repeat: no-repeat;
}