<article id="projects">
    <div class="row mx-auto my-5 pt-8">


        <!-- Edit -->
        <div class="row mx-auto px-0 bg-secondary border border-danger my-1" *ngIf="this.modoEdit">
            <div class="col-12 text-end text-primary">
                <!-- <p>edit icons</p>                 -->
                <!-- <i class="fa-solid fa-pen-to-square fa-2x px-2"></i> -->
                <!-- <i class="fa-solid fa-trash fa-2x px-2"></i> -->
                <i class="fas fa-pen-to-square fa-2x p-1"></i>
                <i class="fas fa-trash fa-2x p-1"></i>
            </div>
        </div>
        <!-- /Edit -->


        <div class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg p-2">
            <div class="card-body">


                <h5 class="card-title">Proyectos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Links</h6>

                <div class="card text-white text-center border border-primary rounded-3 bg-secondary shadow-lg my-5 py-3"
                    *ngFor="let project of dProjects, let i = index, let even = even">
                
                    <div class="card-header my-2">
                        <h5>{{project.name}}</h5>
                    </div>
                
                    <div class="card-body m-3">
                        <!-- <h5 class="card-title">Videojuego Móvil y Web en desarrollo</h5> -->
                        <h5 class="card-title">{{project.title}}</h5>
                        <!-- <p class="card-text">El proyecto principal del estudio Green PixelS.</p> -->
                        <p class="card-text">{{project.description}}</p>
                    </div>
                
                    <div class="card-footer my-0 pt-5">

                        <div class="row">
                            <div class="col-6 col-md-3 g-3 mx-auto" *ngFor="let img of project.img, let i = index, let even = even">
                             
                                <div class="card h-100 bg-light border rounded-3 ">
                                    <img class="img-fluid mb-2 bg-light rounded-3" [src]="img.url" alt="imagen juego">                            
                                </div>

                            </div>
                        </div>                          

                    </div>

                    <a target="_blank" [href]="project.url" class="btn btn-dark mx-3 my-3">
                        Web
                    </a>

                </div>

            </div>
        </div>

    </div>
</article>