<article id="project">
    <div class="row mx-auto my-5 pt-8">


        <!-- Admin Add/Edit/Delete -->
        <div class="row mx-auto px-0 bg-dark border border-light my-1 rounded-3" *ngIf="this.isLogged">
            <div class="col-12 text-end">

                <!-- Add -->
                <button type="button" class="btn btn-outline-info my-2" data-bs-toggle="modal"
                    data-bs-target="#modalAddProject">
                    <i class="fa-solid fa-plus fa-2x p-1 d-flex align-items-center">
                        <span class="fs-5 ps-2">Agregar un proyecto</span>
                    </i>
                </button>

                <app-modal-add-project (addEvent)="reloadProjects($event)"></app-modal-add-project>
                <!-- /Add -->

            </div>
        </div>
        <!-- /Admin Add/Edit/Delete -->


        <div class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg p-2">
            <div class="card-body">


                <h3 class="card-title fw-bold text-shadow-title py-2">Proyectos</h3>
                <h6 class="card-subtitle mb-2 text-muted">Links</h6>

                <div class="card text-white text-center border border-primary rounded-3 bg-secondary shadow-lg my-5 py-3"
                    *ngFor="let project of allProjects, let i = index, let even = even" id="project{{i}}">

                    <!-- Admin Add/Edit/Delete -->
                    <div class="row mx-auto px-0 bg-dark border border-danger my-1" *ngIf="this.isLogged">
                        <div class="col-12 text-end text-primary">

                            <!-- Edit -->
                            <button type="button" class="btn btn-outline-dark text-light" data-bs-toggle="modal"
                                data-bs-target="#modalEditProject" (click)="sendProject(project)">
                                <i class="fas fa-pen-to-square fa-2x p-1"></i>
                            </button>

                            <app-modal-edit-project [projectToEdit]="projectToSend"
                                (editEvent)="reloadProjects($event)"></app-modal-edit-project>
                            <!-- /Edit -->

                            <!-- Delete -->
                            <button type="button" class="btn btn-outline-dark text-danger" data-bs-toggle="modal"
                                data-bs-target="#modalDeleteProject" (click)="sendProject(project)">
                                <i class="fas fa-trash fa-2x p-1"></i>
                            </button>

                            <!-- <app-modal-delete-project [projectToDelete]="project"></app-modal-delete-project> -->
                            <app-modal-delete-project [projectToDelete]="projectToSend"
                                (deleteEvent)="reloadProjects($event)"></app-modal-delete-project>
                            <!-- /Delete -->

                        </div>
                    </div>
                    <!-- /Admin Add/Edit/Delete -->

                    <div class="card-header my-2">
                        <h4 class="shadow text-shadow-simple">{{project.getName}}</h4>
                        <h6 class="text-shadow-simple"> {{ project.getDate | date :'dd - MMMM - yyyy':'es-AR' }}</h6>


                    </div>

                    <div class="card-body m-3">
                        <h5 class="card-title text-shadow-simple">{{project.getShortDescription}}</h5>
                        <p class="card-text text-shadow-simple">{{project.getLongDescription}}</p>
                    </div>

                    <div class="card-footer my-0 pt-5">
                        <div class="row">
                            <div class="col-12 col-md-6 g-3 mx-auto">

                                <div class="card bg-light border rounded-3 w-auto">
                                    <img class="mx-auto img-fluid mb-2 bg-light rounded-3 text-shadow-simple"
                                        [src]="project.getImgUrl" alt="imagen {{project.getName}}">
                                </div>

                            </div>
                        </div>
                    </div>

                    <a target="_blank" [href]="project.getWebUrl" class="btn btn-dark mx-3 my-3">
                        Web
                    </a>

                </div>

            </div>
        </div>

    </div>
</article>