<div class="row px-0 mx-auto">

    <div class="row mx-auto pt-sm-7 py-3 my-4 shadow">
        <ul class="nav justify-content-center border-bottom border-top pb-3 mb-3 shadow">

            <li class="nav-item"><a [routerLink]="['/index']" fragment="aboutMe"
                    class="nav-link px-2 text-white">Conoceme!</a></li>

            <li class="nav-item"><a [routerLink]="['/index']" fragment="project"
                    class="nav-link px-2 text-white">Proyectos</a></li>

            <li class="nav-item"><a [routerLink]="['/index']" fragment="experience"
                    class="nav-link px-2 text-white">Trabajos</a></li>

            <li class="nav-item"><a [routerLink]="['/index']" fragment="study"
                    class="nav-link px-2 text-white">Estudios</a></li>

            <li class="nav-item"><a [routerLink]="['/index']" fragment="skill"
                    class="nav-link px-2 text-white">Habilidades</a></li>
                    
            <li class="nav-item"><a [routerLink]="['/index']" fragment="contactMe"
                    class="nav-link px-2 text-white">Contactame</a></li>

        </ul>
    </div>

</div>