<!-- <nav class="mx-3 mt-1 row navbar fixed-top navbar-expand-md bg-dark navbar-dark rounded-0 rounded-pill border border-white border-2 py-3" id="theNavbar" (click)="toggleMenu()"> -->
<!-- <nav class="row d-flex justify-content-between align-items-center text-center" id="theNavbar" (click)="menuClicked()" (parentEvent)="bodyClick($event)"> -->
<nav class="row d-flex justify-content-between align-items-center text-center" id="theNavbar" (click)="menuClicked()">
    <!-- <div class="container-fluid text-center justify-content-center" (click)="toggleMenu()"> -->
    <div
        class="mx-auto mt-1 row navbar fixed-top navbar-expand-md bg-dark navbar-dark rounded-0 rounded-pill border border-white border-2 py-3">


        <!-- Toggler -->
        <!-- <span (click)="toggleMenu()" id="menu-toggler" class="navbar-toggler d-xsm-flex flex-column align-items-center border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation"> -->
        <span id="menu-toggler" class="navbar-toggler d-xsm-flex flex-column align-items-center border-0" type="button"
            data-bs-toggle="collaps" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span>MENÚ</span>
            <span class="navbar-toggler-icon"></span>
        </span>
        <!-- /Toggler -->



        <!-- Navbar links -->
        <!-- <div class="collapse navbar-collapse mt-1 text-center justify-content-center align-item-center" id="collapsibleNavbar" (mouseleave)="toggleMenu()"> -->
        <div class="collapse navbar-collapse mt-1 text-center justify-content-center align-item-center"
            id="collapsibleNavbar">
            <!-- <p class="navbar-text d-block d-md-none">menú</p> -->

            <div class="d-flex">
                <div class="d-flex flex-column text-center justify-content-center align-item-center">
                    <hr class="w-50">
                </div>
            </div>
            <ul class="navbar-nav col-12 justify-content-between align-items-center text-shadow-light">
                <li class="nav-item d-flex justify-content-center flex-column">
                    <a href="#aboutMe"
                        class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Conoceme!</a>
                </li>
                <li class="nav-item d-flex justify-content-center flex-column"><a href="#experience"
                        class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Trabajos</a>
                </li>
                <li class="nav-item flex-column"><a href="#projects"
                        class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Proyectos</a>
                </li>
                <li class="nav-item flex-column"><a href="#studies"
                    class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Estudios</a>
            </li>
                <li class="nav-item flex-column"><a href="#skills"
                        class="shadow rounded-pill border border-primary nav-link text-primary text-bg-info">Habilidades</a>
                </li>
                <li class="nav-item d-flex justify-content-center flex-column"><a href="#contactMe"
                        class="shdow rounded-pill border border-primary nav-link text-primary text-bg-info">Contactame</a>
                </li>
            </ul>
        </div>
        <!-- /Navbar links -->


    </div>
</nav>