<article id="experience">
    <div class="row mx-auto my-5 pt-8">
        <div class="card border border-light rounded-3 bg-secondary shadow-lg pb-5">
            <div class="card-body">


                <h4 class="card-title text-white text-shadow-title pb-2 pt-1">Trabajos</h4>
                <h6 class="card-subtitle mb-2 text-info pb-2">Algunos de mis trabajos</h6>

                <div class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg py-4">
                    <div class="card-header">


                        <h4>Jésica Confecciones</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Se realizó desarrollo integral</h5>
                        <p class="card-text">
                            Este cliente solicitó un sitio web para poder mostrar su catálogo y contar su
                            historia con la ropa y el diseño. Junto con el sitio, se diseñó un Logo, paleta de
                            colores, tipografías acordes e identidad corporativa. Se fue iterando en los diseños
                            con el cliente hasta ser satisfactorio
                        </p>
                    </div>
                    <div class="card-footer text-muted d-flex flex-column">
                        <img class="img-thumbnail w-25 mb-2 mx-auto"
                            src="./assets/img/sitios/jesicaconfiecciones.png" alt="Web Jésica Confecciones">
                        <a target="_blank" href="https://jesicaconfecciones.web.app"
                            class="btn btn-primary align-items-end">Web Jésica Confecciones</a>
                    </div>
                </div>


                <div class="py-4">
                    <hr>
                    <hr>
                    <hr>
                </div>


                <div class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg py-4">

                    <div class="card-header">
                        <h4>DibujArte Digital</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Sitio de muestra de trabajos digitales y cerámica</h5>
                        <p class="card-text">
                            Este artista plástico necesitaba la realización de un sitio web donde exponer sus
                            trabajos y ser contactado. Su interés principal era poder ir actualizando seguido el
                            contenido de la web por lo que se desarrolló un sistema que le permita hacerlo.
                        </p>
                    </div>
                    <div class="card-footer text-muted d-flex flex-column">
                        <img class="img-thumbnail w-25 mb-2 mx-auto" src="./assets/img/sitios/DibujArte.jpg"
                            alt="Web Jésica Confecciones">
                        <a target="_blank" href="https://dibujarte-digital.web.app/"
                            class="btn btn-primary align-items-end">Web Dibujarte Digital</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</article>