$red:   #FF595E;
$blue:  #0A2463;
$yellow:#F9CB40;
$white: #FFF;
$dark: #0f172a;


$primary:   $red;
$secondary: $yellow;
$warning:   $blue;


$custom-01:    $white;
$custom-02:    $red;


$custom-colors: (
  "custom-color-01": $custom-01,
  "custom-color-02": $custom-02
);


.custom-button {
  color: tint-color($custom-01, 50%);
  background-color: shade-color($custom-02, 50%);
}

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 7,
  9: $spacer * 8,
  10: $spacer * 10,
);


$enable-negative-margins: true;

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);