<div class="row mx-auto">
    <div class="col px-0 pt-7 pt-md-8" id="start">


        <div class="row d-flex justify-content-center" *ngIf="isLoading">
            <div class="col-3 text-center">
                <p>Cargando</p><i class="fa-solid fa-spinner fa-spin-pulse fa-2x"></i>
            </div>
        </div>

        <div class="row d-flex justify-content-center" *ngIf="serverFail">
            <div class="col-3 text-center">
                <p>El servidor está tardando en responder, intente nuevamente en unos minutos.</p><i
                    class="fa-solid fa-bomb fa-bounce fa-2x"></i>
            </div>
        </div>

        <!-- <div class="row d-flex justify-content-center">
            <div class="col-3 text-center">
                <p *ngIf="userLogged">User is logged in!<i class="fa-solid fa-bomb fa-bounce fa-2x"></i></p>
                <p *ngIf="!userLogged">User is NOT logged in!<i class="fa-solid fa-bomb fa-spin"></i></p>
            </div>
        </div> -->


        <!-- <app-imagen></app-imagen> -->

        <!-- Header -->
        <app-header [isLogged]="isLogged" [thePerson]="thePerson" (logged)="loginState($event)"></app-header>
        <!-- /Header -->

        <!-- Banner / Hero section -->
        <app-banner [isLogged]="isLogged" [thePerson]="thePerson" (changed)="loginState($event)"></app-banner>
        <!-- /Banner / Hero section -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- About Me -->
        <app-about-me [isLogged]="isLogged" [thePerson]="thePerson" (changed)="loginState($event)"></app-about-me>
        <!-- /About Me -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Projects -->
        <app-projects [isLogged]="isLogged"></app-projects>
        <!-- /Projects -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Experience -->
        <app-experience [isLogged]="isLogged"></app-experience>
        <!-- /Experience -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Education -->
        <app-education [isLogged]="isLogged"></app-education>
        <!-- /Education -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Skills -->
        <app-skills></app-skills>
        <!-- /Skills-->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Contact Me -->
        <app-contact-me></app-contact-me>
        <!-- /Contact Me -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Site Map -->
        <app-site-map></app-site-map>
        <!-- /Site Map -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /Footer -->

    </div>
</div>