<div class="row mx-auto">
    <div class="col px-0 pt-7 pt-md-8" id="start">


        <!-- <app-imagen></app-imagen> -->

        <!-- Header -->
        <app-header (logged)="loginState($event)" [isLogged]="isLogged" [thePerson]="thePerson"></app-header>
        <!-- /Header -->

        <!-- Banner / Hero section -->
        <app-banner [isLogged]="isLogged" [thePerson]="thePerson"></app-banner>
        <!-- /Banner / Hero section -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- About Me -->
        <app-about-me [isLogged]="isLogged" [thePerson]="thePerson"></app-about-me>
        <!-- /About Me -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Studies -->
        <app-studies></app-studies>
        <!-- /Studies -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Experience -->
        <app-experience></app-experience>
        <!-- /Experience -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Projects -->
        <!-- <app-projects [isLogged]="isLogged" [thePerson]="thePerson"></app-projects> -->
        <app-projects [isLogged]="isLogged"></app-projects>
        <!-- /Projects -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Skills -->
        <app-skills></app-skills>
        <!-- /Skills-->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Contact Me -->
        <app-contact-me></app-contact-me>
        <!-- /Contact Me -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Site Map -->
        <app-site-map></app-site-map>
        <!-- /Site Map -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /Footer -->

    </div>
</div>