/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main';

.text-3d {
    
    border: 1px solid white;
    padding: 5px;
    
    font-size: 2rem;
    color: #444;
    
    text-shadow: -1px -1px 0px black, -2px -2px 3px lightgray, 1px 1px 0px white, 3px 3px 0px black, 7px 7px 4px #555;

}