<!-- <div class="container-fluid px-0" (click)="onClick()"> -->
<div class="row mx-auto" (click)="onClick()">
    <!-- <button (click)="onClick()">Click me</button> -->
    <div class="col px-0">

        <!-- <app-imagen></app-imagen> -->
        <!-- Header -->
        <app-header></app-header>
        <!-- /Header -->

        <!-- Banner / Hero section -->
        <app-banner></app-banner>
        <!-- /Banner / Hero section -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- About Me -->
        <app-about-me></app-about-me>
        <!-- /About Me -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Experience -->        
        <app-experience></app-experience>
        <!-- /Experience -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Projects -->
        <app-projects></app-projects>
        <!-- /Projects -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Skills -->
        <app-skills></app-skills>
        <!-- /Skills-->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Contact Me -->
        <app-contact-me></app-contact-me>
        <!-- /Contact Me -->

        <!-- HR -->
        <app-hr></app-hr>
        <!-- /HR -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /Footer -->

    </div>
</div>