<app-header></app-header>


      <!-- Banner / Hero section -->
      <main id="banner">
          <div class="container-fluid mt-3">
              <div class="card border border-dark border-bottom-0 rounded-0 rounded-top d-flex flex-sm-col align-items-baseline">
                  <img class="card-img-top d-block mx-auto px-3 pt-2" src="./assets/img/consoles-box.png" id="img-about">
                  <div class="card-header">                        
                  </div>

                  <div class="card-body mt-n5">                        

                      <div>                        
                          <div class="mb-3 border border-2 border-primary rounded-circle overflow-hidden col-6 col-sm-6  d-block mx-auto mx-sm-4 shadow-lg">
                              <img class="img-fluid" src="./assets/img/foto-perfil-cropped.png" id="img-about">
                          </div>
                      </div>

                  </div>

                  <!-- <div class="card-footer bg-white">
                      <h5 class="card-title col-sm-12 text-center bg-info text-white border border-light rounded">Sebastián Sala</h5>
                      <h6 class="card-subtitle text-muted text-center text-sm-end text-lightgreen">Portfolio</h6>
                  </div> -->

              </div>
              
              <div class="d-flex justify-content-end bg-white border border-top-0 border-dark rounded-bottom">
                  <div class="card row-cols-1 border-0 pe-2 pb-2 m-3">
                      <h5 class="card-title col-sm-12 text-center bg-secondary text-white border border-primary rounded">Sebastián Sala</h5>
                      <h6 class="card-subtitle text-muted text-end text-lightgreen text-shadow-light">Portfolio</h6>
                  </div>
              </div>

          </div>
          
      </main>
      <!-- /Banner / Hero section -->

      
      <div class="container-fluid pt-7">
          <hr class="text-lightgreen border border-info border-1 mx-5">
          <hr class="text-darkgreen border border-secondary border-2 mx-3">
          <hr class="text-lightblue border border-light border-4 mx-1">
      </div>



      <!-- About Me -->
      <article id="aboutMe">
          <div class="container-fluid my-5 pt-8">
              <div class="card border border-light rounded-3 bg-secondary shadow-lg p-2" id="card-aboutme">
                  
                  <div class="card-body mt-0">
                      <h4 class="card-title shadow-sm text-white text-shadow-title mb-3">Conoceme!</h4>
                      <h6 class="card-subtitle mb-2 text-info shadow-sm mb-3">resumen</h6>
                      
                      <p class="card-text shadow-sm text-white text-shadow-dark p-3">

                          <p class="card-text text-end shadow-sm text-white text-shadow-dark p-3">
                              Me apasiona la programación y el desarrollo.
                              <br>
                              Cuando a los 11 años conocí el lenguaje LOGO e hice mis primeros dibujos con líneas de comandos en la escuela primaria, nació en mi un deseo de conocer y aprender todo lo posible sobre este mundo tan atrapante.
                          </p>

                              <br><br>

                          <p class="card-text text-start shadow-sm text-white text-shadow-dark p-3">
                              Aprendí por mi cuenta, leyendo documentación oficial en inglés, hice cursos, aprendí diseño gráfico y 3D, programé juegos desde Visual Basic hasta C++ escribiendo código implementando APIs como Direct 3d, Direct Draw, Direct Sound, Direct Input, OpenGL y OpenAL.
                              <br>
                              Actualmente, desarrollo juegos multiplataforma y móviles con el framework Phaser, en Typescript aplicando conceptos como Gamificación y con un enfoque educativo y de conciencia medioambiental y ecológica que funcionan en cualquier dispositivo y sistema operativo.
                          </p>

                              <br><br>

                          <p class="card-text text-end shadow-sm text-white text-shadow-dark p-3">
                              Trabajé haciendo paginas web y animaciones con las tecnologías fundamentales como HTML, CSS, JavaScript y Flash.
                              <br>
                              Aprendí bases de datos y PHP, como casi todo, de manera autodidacta. También aprendí Assembler en el tiempo que cursé Ingeniería en sistemas en la UTN. Soy un entusiasta de los lenguajes de programación. Ahora agregué a mi repertorio Typescript y Java gracias a la certificación que hice en Argentina Programa y estoy incorporando nuevamente como autodidacta C#, Lua, Python y Rust.
                          </p>

                              <br><br>

                              <p class="card-text text-start shadow-sm text-white text-shadow-dark p-3">
                              Tengo un nivel de inglés C1, casi nativo. Esta fluidez me permite comunicarme con clientes de todo el mundo de forma ágil, entendiendo y pudiendo dar solución a sus necesidades, al mismo tiempo que crear relaciones constructivas.
                              </p>

                              <br><br>
                              
                              <p class="card-text text-end shadow-sm text-white text-shadow-dark p-3">
                              Hoy sigo expandiendo mis saberes y buscando adquirir nuevas habilidades enfrentando desafíos, trabajando con empresas exitosas para en un futuro cercano, aplicar todo a la par en mi propio estudio de diseño y desarrollo.
                              Mi pasión por programar y crear me llevó a estudiar Guion, Música, Actuación, Voice-over, Marketing, entre otras cosas y sobre todo Game Design, para llevar a cabo las ideas de juegos a la realidad.
                          </p>
                          <br>
                          <p class="card-text text-start shadow-sm text-white text-shadow-dark p-3">
                              Actualmente diseñando y desarrollando videojuegos
                          </p>
                  </div>

                </div>
          </div>
      </article>
      <!-- /About Me -->


      <div class="container-fluid pt-7">
          <hr class="text-lightblue border border-light border-4 mx-1">
          <hr class="text-darkgreen border border-secondary border-2 mx-3">
          <hr class="text-lightblue border border-light border-1 mx-5">
      </div>


      <!-- Experience -->
      <article id="experience">
          <div class="container-fluid my-5 pt-8">
              <div class="card border border-light rounded-3 bg-secondary shadow-lg pb-5">
                  <div class="card-body">
                      
                      
                      <h4 class="card-title text-white text-shadow-title pb-2 pt-1">Trabajos</h4>
                      <h6 class="card-subtitle mb-2 text-info pb-2">Algunos de mis trabajos</h6>
                          
                      <div class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg py-4">
                          <div class="card-header">
                              
                              
                              <h4>Jésica Confecciones</h4>
                          </div>
                          <div class="card-body">
                              <h5 class="card-title">Se realizó desarrollo integral</h5>
                              <p class="card-text">
                                  Este cliente solicitó un sitio web para poder mostrar su catálogo y contar su historia con la ropa y el diseño. Junto con el sitio, se diseñó un Logo, paleta de colores, tipografías acordes e identidad corporativa. Se fue iterando en los diseños con el cliente hasta ser satisfactorio
                              </p>
                          </div>
                          <div class="card-footer text-muted d-flex flex-column">
                              <img class="img-thumbnail w-25 mb-2 mx-auto" src="./assets/img/sitios/jesicaconfiecciones.png" alt="Web Jésica Confecciones">
                              <a target="_blank" href="https://jesicaconfecciones.web.app" class="btn btn-primary align-items-end">Web Jésica Confecciones</a>
                          </div>
                        </div>
                        
                        
                        <div class="py-4">
                          <hr><hr><hr>
                        </div>

                        
                        <div class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg py-4">

                          <div class="card-header">                                
                            <h4>DibujArte Digital</h4>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Sitio de muestra de trabajos digitales y cerámica</h5>
                            <p class="card-text">
                              Este artista plástico necesitaba la realización de un sitio web donde exponer sus trabajos y ser contactado. Su interés principal era poder ir actualizando seguido el contenido de la web por lo que se desarrolló un sistema que le permita hacerlo.
                            </p>                              
                          </div>
                          <div class="card-footer text-muted d-flex flex-column">
                              <img class="img-thumbnail w-25 mb-2 mx-auto" src="./assets/img/sitios/DibujArte.jpg" alt="Web Jésica Confecciones">
                              <a target="_blank" href="https://dibujarte-digital.web.app/" class="btn btn-primary align-items-end">Web Dibujarte Digital</a>
                          </div>
                        </div>

                  </div>
                </div>
          </div>
      </article>
      <!-- /Experience -->


      <div class="container-fluid pt-7">
          <hr class="text-lightblue border border-light">
          <hr class="text-darkgreen border border-secondary">
          <hr class="text-lightblue border border-light">
      </div>
      
      
      <!-- Projects -->
      <article id="projects">
          <div class="container-fluid my-5 pt-8">
              
              <div class="card text-white text-center border border-primary rounded-3 bg-dark shadow-lg p-2">
                  <div class="card-body">
                      
                      
                      <h5 class="card-title">Proyectos</h5>
                      <h6 class="card-subtitle mb-2 text-white">Links</h6>
                      
                      <div class="card text-white text-center border border-primary rounded-3 bg-secondary shadow-lg my-5 py-3">
                          <div class="card-header my-2">
                              Carpincha, lucha contra la extinción!
                          </div>
                          <div class="card-body m-3">
                            <h5 class="card-title">Videojuego Móvil y Web en desarrollo</h5>
                            <p class="card-text">El proyecto principal del estudio Green PixelS.</p>
                          </div>
                          <div class="card-footer text-muted my-0 pt-5 justify-content-between d-flex">
                              <img class="img-thumbnail w-25 mb-2 bg-light" src="./assets/img/sitios/red.png" alt="imagen juego">
                              <img class="img-thumbnail w-25 mb-2 bg-primary" src="./assets/img/sitios/trato.png" alt="imagen juego">
                              <img class="img-thumbnail w-25 mb-2 bg-info" src="./assets/img/sitios/auto.png" alt="imagen juego">
                          </div>
                          <a target="_blank" href="https://carpincho-demo.web.app/" class="btn btn-dark mx-3 my-3">Web del juego </a>
                        </div>                          

                  </div>
              </div>                

          </div>
      </article>
      <!-- /Projects -->


      <div class="container-fluid pt-7 shadow">
          <hr class="text-lightblue border border-light">
          <hr class="text-darkgreen border border-secondary">
          <hr class="text-lightblue border border-light">
      </div>


      <!-- Skills -->
      <article id="skills">
          <div class="container-fluid pt-8 shadow border-light">
              <div class="card mx-auto bg-secondary text-white border-lightp-2 px-4 shadow border-light">
                  <hr>
              
                  <div class="row align-item-center shadow">
                      <div class="col-md-6 shadow">
                          <div class="mb-5">                                
                              <h3 class="text-shadow-title shadow py-2">Hard Skills</h3>  
                              <hr>                              
                          </div>
                          <!-- Hard skills -->
                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Desarrollo web FrontEnd</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 95%">
                                      95%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Desarrollo Backend</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 80%">
                                      80%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Bootstap y custom SCSS</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 90%">
                                      90%
                                  </div>
                              </div>
                          </div>
                          
                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">C++</h6>                                    
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 80%">
                                      80%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-betweenshadow">
                                  <h6 class="font-width-bold shadow">Typescript</h6>                                    
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 90%">
                                      90%
                                  </div>
                              </div>
                          </div>
                          
                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-betweenshadow">
                                  <h6 class="font-width-bold shadow">Java</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 80%">
                                      80%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Modelado y Animación 3D</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 80%">
                                      80%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Angular</h6>                                    
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 85%">
                                      85%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Git y control de versiones</h6>                                    
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 95%">
                                      95%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Spring Boot</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 80%">
                                      80%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Phaser</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 90%">
                                      90%
                                  </div>
                              </div>
                          </div>
                          
                          <div class="mb-5 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Game Design</h6>                                    
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 95%">
                                      95%
                                  </div>
                              </div>
                          </div>

                          <div class="mb-6 shadow">
                              <div class="d-flex justify-content-between shadow">
                                  <h6 class="font-width-bold shadow">Inglés: Oral, escrito nivel C1</h6>
                              </div>
      
                              <div class="progress shadow">
                                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                      aria-valuemax="100" style="width: 95%">
                                      95%
                                  </div>
                              </div>
                          </div>

                          <!-- /Hard skills-->
                          <hr><hr>

                      </div>

                      
      
                      <div class="col-md-6 text-end pb-5 ps-6 shadow">
                          <div class="mb-7 mb-sm-6 shadow py-3 py-sm-2">
                              <h3 class="text-shadow-title">Soft Skills</h3>  
                              <hr>                              
                          </div>
                          <!-- SoftSkills-->
                          <div class="btn-group dropend mb-5 shadow">
                              <button type="button" class="btn btn-info text-white text-shadow-dark shadow">
                                  <span class="shadow">Trabajo en Equipo</span>
                              </button>                                
                          </div>

                          <br><br><br>
                          
                          <div class="btn-group dropend mb-5 shadow">
                              <button type="button" class="btn btn-light text-center text-wrap text-white text-shadow-dark shadow">
                                  <span class="shadow">Rápido aprendiendo tecnologías nuevas</span>
                              </button>                                
                          </div>

                          <br><br><br>
                          
                          <div class="btn-group dropend mb-5 shadow">
                              <button type="button" class="btn btn-info text-white text-shadow-dark shadow">
                                  <span class="shadow">Predispuesto</span>
                              </button>                                
                          </div>

                          <br><br><br>

                          <div class="btn-group dropend mb-5 shadow">
                              <button type="button" class="btn btn-light text-center text-wrap text-white text-shadow-dark shadow">
                                  <span class="shadow">Rápido aprendiendo metodologías nuevas</span>
                              </button>                                
                          </div>

                          <br><br><br>

                          <div class="btn-group dropend mb-5 shadow">
                              <button type="button" class="btn btn-info text-white text-shadow-dark shadow">
                                  <span class="shadow">Proactividad</span>
                              </button>                                
                          </div>

                          <br><br><br>

                          <div class="btn-group dropend mb-5 shadow">
                              <button type="button" class="btn btn-light text-center text-wrap text-white text-shadow-dark shadow">
                                  <span class="shadow">Mentalidad y actitud de resolución de problemas</span>
                              </button>
                          </div>

                          <br><br><br>

                          <div class="btn-group dropend mb-5 shadow">
                              <button type="button" class="btn btn-info text-white text-shadow-dark shadow">
                                  <span class="shadow">Todo el tiempo capacitándome dentro y fuera del ámbito de la tecnología</span>
                              </button>                                
                          </div>

                          <!-- /SoftSkills-->
                      </div>
                  </div>
              </div>
          </div>
      </article>
      <!-- /Skills-->


      <div class="container-fluid pt-10 shadow">
          <hr class="text-lightgreen border border-info">
          <hr class="text-lightblue border border-light">
          <hr class="text-white border">
      </div>


      <!-- Contact Me -->
      <article id="contactMe">
          <div class="container-fluid my-5 pt-8 shadow">
              <div class="card border border-light rounded-3 bg-dark shadow-lg" id="card-aboutme">
                  <div class="card-body shadow">
                      
                      <h4 class="card-title shadow-sm text-white text-shadow-title shadow">Contactame</h4>
                      <h6 class="card-subtitle mb-2 shadow-sm text-light shadow">Mi e-mail de trabajo:</h6>                      
                      <p class="card-text text-end shadow-sm text-white text-shadow-dark shadow">
                          Si tenés proyectos interesantes en los que pensás que mis talentos te podrían ayudar, no dudes en contactarme!</p>
                      <p class="card-text text-end shadow-sm text-white text-shadow-dark shadow">A disposición, siempre!</p>
                      
                      <div class="">
                          <h3 class="text-center shadow">
                              <span id="mail-badge" class="border border-primary badge bg-info shadow text-break text-wrap shadow text-dark text-shadow-light">sebastiansala.dev@gmail.com</span>
                          </h3>
                      </div>
                  </div>
                </div>
          </div>
      </article>
      <!-- /Contact Me -->


      <div class="container-fluid pt-sm-7 shadow">
          <hr class="text-lightgreen border border-info">
          <hr class="text-lightblue border border-light">
          <hr class="text-white border">
      </div>


      <!-- Footer -->        

      <div class="container-fluid pt-sm-7 shadow">
          <footer class="py-3 my-4 shadow">
            <ul class="nav justify-content-center border-bottom border-top pb-3 mb-3 shadow">
              <li class="nav-item"><a href="#aboutMe" class="nav-link px-2 text-white">Conoceme!</a></li>
              <li class="nav-item"><a href="#experience" class="nav-link px-2 text-white">Trabajos</a></li>
              <li class="nav-item"><a href="#projects" class="nav-link px-2 text-white">Proyectos</a></li>
              <li class="nav-item"><a href="#skills" class="nav-link px-2 text-white">Habilidades</a></li>                
              <li class="nav-item"><a href="#contactMe" class="nav-link px-2 text-white">Contactame</a></li>                
            </ul>
            <p class="text-center text-muted shadow">© 2022 Sebastian Sala</p>
          </footer>
        </div>
  
      <!-- /Footer -->
  
      