<!-- Admin Add/Edit/Delete -->
<div class="row mx-auto px-0 bg-dark border border-light my-1 rounded-3">
    <div class="col-12 text-end">

        <!-- Add -->
        <button type="button" class="btn btn-outline-info my-2" data-bs-toggle="modal"
            data-bs-target="#modalAddExperience">
            <i class="fa-solid fa-plus fa-2x p-1 d-flex align-items-center">
                <span class="fs-5 ps-2">Agregar experiencia laboral</span>
            </i>
        </button>

        <!-- /Add -->
        
    </div>
</div>
<!-- /Admin Add/Edit/Delete -->